<!-- Navn -->
<div class="row">
  <div class="col">
    <input type="text" class="form-control" placeholder="Fornavn">
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="Efternavn">
  </div>
</div>

<!-- Adresse -->
<div class="row">
  <div class="col">
    <input type="text" class="form-control" placeholder="Adresse">
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="Husnummer">
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="Etage">
  </div>
</div>

<!-- Kontakt oplysninger -->
<div class="row">
  <div class="col">
    <input type="text" class="form-control" placeholder="Email">
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="Telefon">
  </div>
</div>

<button class="btn btn-primary" type="button" name="button">Opret</button>
